.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > li:nth-child(2) {
    margin-top: 60px;
  }
  > li:nth-child(3) {
    margin-top: -60px;
  }
}
@media (max-width: 1020px) {
  .article-list {
    grid-gap: 27px;
  }
  .article-list {

    li {
      margin: 0px !important;
    }
    .article-card {
      margin: 1em 0em;
    }
  }    
}
.article-card {
  min-height: 280px;
  margin: 4px;
  background-color: var(--bg-alt);
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in-out;
  border-radius: 14px;

  &:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 597px) {
  .article-list {
    grid-template-columns: 1fr;

    .article-card {
      width: 100%;
    }
  }
}

.article-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: inherit;
  color: var(--text);

  h5 {
    margin-top: auto;
  }
  header {
    > * + * {
      display: block;
      margin-top: .3em;
    }
  }
  footer {
    margin-top: auto;
  }
}
.article__list {

  > li + li {
    margin-top: 1rem;
  margin-bottom: 1rem;
  }

  a {
    color: var(--text);
  }
}


.about-tab {
  max-width: max-content;
}
.about-tab.on {
  border-bottom: 2px solid var(--color-primary);
}
.about-tab.off ~ .about-tab {
  border-bottom: 2px solid var(--color-primary);
}
.about-projects.off {
  display: none;
}
.about-projects.on {
  display: block;
}
.about-projects.on ~ .article-list {
  display: none;
}
