.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > li:nth-child(2) {
    margin-top: 60px;
  }
  > li:nth-child(3) {
    margin-top: -60px;
  }
}
@media (max-width: 1020px) {
  .article-list {
    grid-gap: 27px;
  }
  .article-list {

    li {
      margin: 0px !important;
    }
    .article-card {
      margin: 1em 0em;
    }
  }    
}

@media (max-width: 597px) {
  .article-list {
    grid-template-columns: 1fr;

    .article-card {
      width: 100%;
    }
  }
}


.article__list {

  > li + li {
    margin-top: 1rem;
  margin-bottom: 1rem;
  }

  a {
    color: var(--text);
  }
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  margin-left: 18px;
  width: 100%;
}


.about-tab {
  max-width: max-content;
}
.about-tab.on {
  border-bottom: 2px solid var(--color-primary);
}
.about-tab.off ~ .about-tab {
  border-bottom: 2px solid var(--color-primary);
}
.about-projects.off {
  display: none;
}
.about-projects.on {
  display: block;
}
.about-projects.on ~ .article-list {
  display: none;
}
