.btn {
    display: inline-block;
    text-align: center;
    transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn--primary {
    background: var(--gradient-dark);
    color: #fff;
    box-shadow: 1px 2px 4px var(--border);

    &:hover {
        box-shadow: 0px 0px 1px var(--border);
        opacity: .5;
    }

}
.btn--white {
    background-color: var(--bg);
    color: var(--text);
    box-shadow: 1px 2px 4px var(--border);

    &:hover {
        box-shadow: 0px 0px 1px var(--border);
        background-color: var(--color-primary);
    }

}
.btn--small {
    padding: 1em;
}

.btn--round {
    border-radius: 40em;
}