.btn {
    text-align: center;
    transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
    color: currentColor;

    svg {
        fill: currentColor;
    }
}

.btn.btn--primary {
    background: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);

    &:hover {
        color: var(--color-white);
        background: var(--color-primary);
    }

}

.btn--white {
    background-color: var(--bg);
    color: var(--text);
    box-shadow: 1px 2px 4px var(--border);

    &:hover {
        box-shadow: 0px 0px 1px var(--border);
        background-color: var(--color-primary);
    }

}
.btn--small {
    padding: .4rem 1.2rem;
}
.btn--default {
    padding: 1em;
}
@media (min-width: 620px) {
    .btn--small {
        padding: .4rem 1rem;
    }
}
.btn--round {
    border-radius: 40em;
}