.header,.list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding: 1em 0px;
}
.header-logo {

    img {
        border-radius: 50%;
        object-fit: cover;
    }
    a {
        display: inline-block;
    }

    span {
        color: var(--black);
        margin-left: .6em;
        font-weight: var(--bold);
    }
}
.list-items {

    a {
        display: inline-block;
        padding:1em .7em;
        color: var(--black);

        &:hover {
            color: var(--gray);
        }
        &.active {
            border-bottom: 1px solid var(--green);
        }
    }
}

@media (max-width: 620px) {
    .header {
        justify-content: unset;
        padding:.5em 0px;
    }
    .header-control {
        margin-left: auto;
    }
    .header-nav {
        order: 3;
    }
    .header-control > *:first-child {
        display: none;
    }
    .header-btn {
        display: block;
        padding: 1em .5em;

        svg {
            margin-top: 4px;
        }
        
    }
    .list-items {
        position: fixed;
        z-index: 999;
        left: 0px;
        width: 100%;
        height: 100vh;
        top: -999px;
        transition: top .3s ease-in-out;
        flex-direction: column;
        background-color: var(--green);

        > * + * {
            margin-top: .5em;
        }

        a {
            color: #fff;
            font-size: 1.4em;
        }
    }
    .list-items.on {
        top: 0px;
        justify-content: center;
    }
    .header-btn.on {
        position: relative;
        z-index: 9999;
        color: #fff;
    }
    .header-btn.on .icon-open {
        display: none;
    }
    .icon-close.on {
        display: block;
    }
}