.header,.list-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding: 1em 3em;
}
.header-logo {

    img {
        border-radius: 50%;
        object-fit: cover;
    }
    a {
        display: inline-block;
        color: var(--text);
    }

    span {
        color: var(--text);
        margin-left: .6em;
        font-weight: var(--bold);
    }
}
.list-items {

    a {
        display: inline-block;
        padding:.7em;
        color: var(--text);

        &:hover {
            color: var(--text-alt);
        }
        &.active {
            border-bottom: 1px solid var(--primary-color);
        }
    }
}

@media (max-width: 620px) {
    .header {
        justify-content: unset;
        padding:.5em 1em;
    }
    .header-control {
        margin-left: auto;

        > *:first-child {
            display: none;
        }
    }
    .header-nav {
        order: 3;
    }
    
    .header-btn {
        display: block;
        padding: 1em .5em;
        color: var(--text);

        svg {
            margin-top: 4px;
        }

        
    }
    .header-control, .header-btn {

        button {
        color: var(--text);

        }
    }

    
    .list-items {
        padding: 20px 20px 0px 20px;
        position: fixed;
        z-index: 999;
        left: 0px;
        width: 100%;
        top: -999px;
        transition: top .3s ease-in-out;
        flex-direction: column;
        align-items: initial;
        background: var(--background);
        box-shadow: var(--shadow);

        li {

        
        a {
            display: block;
            color: var(--text);
            font-size: 1.4em;
            font-weight: bold;
            border-top: 1px solid var(--border);
        }
    }
        .list-items__btn {
            margin: 1.5em 1em 1em 1em;
            display: block;
            text-align: center;
        }
    }

    .list-items.on {
        top: 0px;
        justify-content: center;
    }
    .header-btn.on {
        position: relative;
        z-index: 9999;
        color: var(--text);
    }
    .header-btn.on .icon-open {
        display: none;
    }
    .icon-close.on {
        display: block;
    }
}
.theme-wrapper.on {
    display: block;
}