@media (min-width: 597px) {
    .section-img {
        position: relative;
      
        &:hover {
          .hero-img-msg {
            display: block;
          }
        }
      
        .hero-img-msg {
          position: absolute;
          z-index: 2;
          top: 0px;
          left: calc(100% + 2em);
          width: 12em;
          background: var(--bg);
          box-shadow: 1px 2px 4px var(--border);
          border-radius: 11px;
          padding: 15px;
          transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
      }
}
.hero-img {
  img {
    border-bottom-left-radius: 84px;
    border-bottom-right-radius: 59px;
    position: relative;
    z-index: 1;
    max-width: 12em;
  }
  .img-overlay {
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: 20px;
      left: -24px;
      width: 250px;
      height: 250px;
      background-color: #f3f7f8;
      border-radius: 50%;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    }
    &::before {
      content: "";
      background: #e0e8eb;
      position: absolute;
      z-index: 0;
      bottom: -2px;
      left: -24px;
      width: calc(125px * 2);
      height: 150px;
      border-bottom-left-radius: calc(150px * 2);
      border-bottom-right-radius: calc(150px * 2);
    }
  }
}

@media (min-width: 597px) and (max-width: 756px) {
  .section-flex {
    display: flex;
    flex-direction: row-reverse;
    background: #e0e8eb;
    padding-top: 3em;

    .section-content {
      padding-right: 32px;
      padding-left: 32px;
      max-width: 19em;
    }

    .section-img {
      margin-left: 6em;
      margin-top: 0px;
    }
  }
}
@media (max-width: 596px) {
  .section-content {
    text-align: center;

    .line {
      text-align: left;
    }
  }
}
.title_sub {
  margin-top: 3em;
  border-top: 1px solid var(--border);
  padding-top: 9px;
}
@media (min-width: 597px) {
  .title_sub {
  max-width: max-content;
  }
}
.hero-skills {
  align-items: center;
  margin: 2em 0px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      color: var(--gray);

      span {
        display: inline-block;
        margin-left: 6px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 620px) {
  .hero-skills {
    margin: 0px;
  }
}
.test {
  height: 200px;
  background: #f5f5f5;
  width: 100%;
}
