@media (min-width: 597px) {
    .section-img {
        position: relative;
      
        &:hover {
          .hero-img-msg {
            display: block;
          }
        }
      
        .hero-img-msg {
          position: absolute;
          z-index: 2;
          top: 0px;
          left: calc(100% + 2em);
          width: 12em;
          background: var(--bg);
          box-shadow: 1px 2px 4px var(--border);
          border-radius: 11px;
          padding: 15px;
          transition: all .4s cubic-bezier(0.215, 0.610, 0.355, 1);
        }
      }
}
.hero-img {
  img {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    z-index: 1;
    max-width: 16em;
  }
  .img-overlay {
    display: inline-block;
  }
}

@media (min-width: 597px) and (max-width: 756px) {
  .section-flex {
    display: flex;
    flex-direction: row-reverse;
    background: var(--hero-bg);
    padding-top: 3em;

    .section-content {
      padding-right: 32px;
      padding-left: 32px;
      max-width: 19em;
    }

    .section-img {
      margin-left: 6vw;
      margin-top: 0px;
    }
  }
}
@media (min-width: 673px) and (max-width: 700px) {
  .section-flex {

    .section-img {
      margin-left: 10vw;
      margin-top: 0px;
    }
  }
}
@media (min-width: 700px) and (max-width: 756px) {
  .section-flex {

    .section-img {
      margin-left: 16vw;
      margin-top: 0px;
    }
  }
}

@media (max-width: 596px) {
  .section-content {
    text-align: center;

    .line {
      text-align: left;
    }
  }
 
}
.title_sub {
  margin-top: 3em;
  border-top: 1px solid var(--border);
  padding-top: 9px;
  color: var(--text-alt);
}
@media (min-width: 597px) {
  .title_sub {
  max-width: max-content;
  }
}
.hero-skills {
  align-items: center;
  margin-top: 2em;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      color: var(--gray);

      span {
        display: inline-block;
        margin-left: 6px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 756px) {
  .hero-skills {
    margin: 0px;
  }
}

/* blog page hero */
.blog-hero {
  position: relative;
  margin-bottom: 8em;
  background: rgba(0, 0, 0, 0) linear-gradient(359.62deg, var(--bg-alt) 2.36%, rgb(255, 255, 255) 99.68%) repeat scroll 0% 0%;
}
.blog-hero__content {
  
  > * {
    margin-top: .8em;
  }
}