.msg {
	display: none;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
      background: var(--msg-bg);
      width: 100%;
      color: var(--text);
	position: relative;
      padding: 15px;
}
.msg.on {
	display: block;
}

.msg-content {
	display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 6px;
      width: 100%;
}
@media (max-width: 350px) {
	.msg {

		.msg-content {
			margin-left: 0px;
		}
	}
	.msg-icon-wrapper {
		margin-bottom: 1em;
	}
}
@media (min-width: 351px) {
	.msg.on {
		display: flex;
	}
}
.msg.msg--info {
	--msg-bg: var(--bg-alt);
}
.msg.msg--error {
	--msg-bg: rgb(187, 33, 36);
}
.msg.msg--success {
	--msg-bg: rgb(34, 187, 51);
}
.msg.msg--warning {
	--msg-bg:  var(--bg-alt);
}
.msg:after, .msg:before {
	top: 100%;
	left: 10px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.msg:after {
	border-top-color: var(--bg-alt);
	border-width: 15px;
	margin-left: -15px;
}
.msg:before {
	border-top-color: var(--bg-alt);
	border-width: 16px;
	margin-left: -16px;
}