/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

 html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: var(--font)
  }
    html,body {
      width: 100vw;
      overflow-x: hidden;
    }
    @media screen and (prefers-reduced-motion: no-preference) {
      html {
        scroll-behavior: smooth;
      }
    }
  
  /**
   * Reset some basic elements
   */
  body, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, hr,
  dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0; }
  h1,.h1 {
    font-size: 26px;
  }
  /*------------------------------------*  #SHARED
  \*------------------------------------*/
  /**
   * Shared declarations for certain elements.
   */
  /**
   * Always declare margins in the same direction:
   * csswizardry.com/2012/06/single-direction-margin-declarations
   */
  input,
  textarea,
  button {
    font-family: inherit; }
  
  textarea {
    resize: none; }
    button {
      text-align: center;
    }
  
  /*------------------------------------*  #PAGE
  \*------------------------------------*/
  /**
   * Page-level styling (e.g. HTML and BODY elements).
   */
   :root {
      --normal:400;
      --semi:500;
      --bold:600;
      --font: "Gothic A1",Arial, Helvetica, sans-serif ;
      --font-size: 15px;
      --black: #000000;
      --gray: #999999;
      --white:  #ffffff;
      --green: #008060;
      --bg: #fff;
      --bg-alt: #f5f5f5;
      --text: #333;
      --border: rgba(0,0,0,.1);
     }
  
  html {
      font-family:  var(--font);
      font-weight: var(--normal);
      color: var(--text);
      font-size: var(--font-size);
      transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      line-height: 1.4;
      letter-spacing: 0.011em;
   }
   
    body {
      background-color: var(--bg);
 
    }
    
    a:focus,button:focus {
      border: 1px dashed var(--black);
    }
    
    /*------------------------------------*  #HEADINGS
    \*------------------------------------*/
    /**
     * Simple default styles for headings 1 through 6.
     */
   
   
    /*------------------------------------*  #PARAGRAPHS
    \*------------------------------------*/
    /**
     * Basic styling for paragraphs.
     */
    p {
      line-height: 1.4;
     }
    
      
    /*------------------------------------*  #LINKS
    \*------------------------------------*/
    /**
     * Default styles for simple hyperlinks.
     */
    a {
      text-decoration: none;
      color: var(--green);
      transition: color .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .link {
      display: inline-block;
      padding: 6px;
    }
    a.link:hover {
      text-decoration: underline;
      color: var(--black);
    }
  
      button {
        background: transparent;
        cursor: pointer;
        border: 0;
      }
     
    
    /*------------------------------------*  #LISTS
    \*------------------------------------*/
    /**
     * Remove trailing margins from nested lists.
     */
     ol,ul {
         list-style: none;
     }
    li > ul,
    li > ol {
      margin-bottom: 0; }
    
    /**
     * Visually offset definition titles from their definitions.
     */
    dt {
      font-weight: 700; }
    
    /*------------------------------------*    #IMAGES
    \*------------------------------------*/
    /**
     * 1. Fluid images for responsive purposes.
     * 2. Offset `alt` text from surrounding copy.
     * 3. Setting `vertical-align` removes the whitespace that appears under `img`
     *    elements when they are dropped into a page as-is. Safer alternative to
     *    using `display: block;`.
     */
    img {
      max-width: 100%;
      /* [1] */
      font-style: italic;
      /* [2] */
      vertical-align: middle;
      /* [3] */ }
    
    /**
     * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
     *    not make the image fluid.
     */
    img[width],
    img[height] {
      /* [1] */
      max-width: none; }
      
    
    /*------------------------------------*  #QUOTES
    \*------------------------------------*/
    /**
     * Basic styling for quoted text.
     */
    q {
      quotes: "‘‘" ""; 
      margin-top: .6em;
    }
      q:before {
        content: open-quote;
        color: var(--black);
        font-size: 32px;
        font-family: 'cocon';
      }
      
    
    blockquote {
      quotes: "“" "”"; }
  
  [hidden] {
    display: none;
  }
  svg {
        fill: currentColor;
        vertical-align: middle;
      }

