.section {
  padding: 3em 3em 1em 3em;
}
.section-side-pad {
  padding-left: 3em;
  padding-right: 3em;
}
@media (max-width: 620px) {
  .section-side-pad {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.section-pad {
  padding-top: 3em;
  padding-bottom: 3em;
}
.section-head {
  > * + * {
    margin-top: 1em;
  }
}
.section-bg-alt {
  background-color: var(--background-alt);
}
@media (min-width: 597px) {
  .section-bg-alt {
    background-size: cover;
  }
}
.section-content {
  > * + * {
    margin-top: 1em;
  }
}
.section-flex > *:nth-child(3) {
  align-self: flex-end;
  justify-self: flex-start;
}
.section-flex {
  position: relative;
}
@media (min-width: 757px) {
  .section-flex {
    display: flex;

    .section-content {
      max-width: 12em;
    }
  }
}
@media (max-width: 756px) {
  .section {
    padding: 0px;

    .wrapper {
      width: 100%;
    }
  }
  .hero-skills {
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-flex {
    .section-content {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 7px;
    }

    .section-img {
      background-color: var(--background-alt);
      text-align: center;
      margin-top: 2em;
      padding-top: 1em;

      img {
        border-radius: unset;
      }
    }

    > *:nth-child(3) {
      display: none;
    }
  }
}

@media (min-width: 1021px) {
  .section-about {
    display: flex;
    justify-content: space-between;

    .section-content {
      max-width: 382px !important;
      padding-right: 20px;

      .about-link-list {
        display: block;

        a {
            color: var(--text);
        }
      }
      
    }
  }
}
@media (max-width: 1020px) {
    .section-about {

        .section-content {
          text-align: left!important;

            .icon-list {
                margin: 2em 0em!important;
              }

            .about-link-list {
              display: flex;
              order: 3;
              margin-bottom: 2em;
              margin-top: 0px!important;

              a {
                color: var(--text);

                .span-num {
                  display: none;
                }
                .line {
                  padding-left: 0px;
                  font-size: 100%;

                  &::before {
                    background-color: transparent;
                  }
                  
                }
              }
              a.active {
                border-bottom: 1px solid var(--text);
              }
            }
        }
    }
}