.section {
  padding: 3em 3em 1em 3em;
}
.section-side-pad {
  padding-left: 3em;
  padding-right: 3em;
}
@media (max-width: 620px) {
  .section-side-pad {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.section-pad {
  padding-top: 3em;
  padding-bottom: 3em;
}
.section-head {
  > * + * {
    margin-top: 1em;
  }
}
.section-bg-alt {
  background-color: var(--bg-alt);
}
@media (min-width: 597px) {
  .section-bg-alt {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(245%2c 245%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c295.759C64.828%2c290.599%2c139.363%2c336.77%2c191.14%2c297.42C243.557%2c257.584%2c222.325%2c173.491%2c243.089%2c111.015C260.96%2c57.242%2c299.314%2c12.638%2c304.539%2c-43.786C310.721%2c-110.547%2c308.992%2c-180.631%2c275.471%2c-238.697C238.757%2c-302.295%2c183.761%2c-367.434%2c111.197%2c-378.703C38.981%2c-389.918%2c-17.377%2c-318.367%2c-86.598%2c-294.927C-151.884%2c-272.82%2c-230.387%2c-289.751%2c-282.997%2c-245.219C-337.879%2c-198.763%2c-358.248%2c-124.069%2c-371.859%2c-53.465C-385.968%2c19.72%2c-390.907%2c96.626%2c-362.157%2c165.391C-332.944%2c235.263%2c-283.005%2c303.835%2c-211.748%2c329.486C-143.11%2c354.194%2c-72.72%2c301.547%2c0%2c295.759' fill='%23e9e9e9'%3e%3c/path%3e%3cpath d='M1440 896.948C1503.784 903.004 1568.788 878.344 1619.058 838.62 1667.109 800.649 1682.0149999999999 737.766 1710.2269999999999 683.408 1740.1680000000001 625.719 1782.807 574.335 1789.76 509.712 1797.903 434.032 1809.8980000000001 339.252 1752.654 289.083 1693.885 237.577 1600.559 288.129 1523.328 276.21 1459.981 266.434 1405.264 216.45 1341.835 225.68200000000002 1275.06 235.401 1217.176 277.669 1171.5720000000001 327.406 1125.144 378.04200000000003 1089.577 440.26300000000003 1082.437 508.59000000000003 1075.4270000000001 575.673 1095.128 644.303 1132.599 700.385 1167.173 752.13 1229.106 773.047 1281.537 806.573 1333.826 840.008 1378.213 891.082 1440 896.948' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
  }
}
.section-content {
  > * + * {
    margin-top: 1em;
  }
}
.section-flex > *:nth-child(3) {
  align-self: flex-end;
  justify-self: flex-start;
}
.section-flex {
  position: relative;
}
@media (min-width: 757px) {
  .section-flex {
    display: flex;

    .section-content {
      max-width: 12em;
    }
  }
}
@media (max-width: 756px) {
  .section {
    padding: 0px;

    .wrapper {
      width: 100%;
    }
  }
  .hero-skills {
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-flex {
    .section-content {
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 7px;
    }

    .section-img {
      background-color: var(--hero-bg);
      text-align: center;
      margin-top: 2em;
      padding-top: 1em;

      img {
        border-radius: unset;
      }
    }

    > *:nth-child(3) {
      display: none;
    }
  }
}

@media (min-width: 1021px) {
  .section-about {
    display: flex;
    justify-content: space-between;

    .section-content {
      max-width: 382px !important;
      padding-right: 20px;

      .about-link-list {
        display: block;

        a {
            color: var(--text);
        }
      }
      
    }
  }
}
@media (max-width: 1020px) {
    .section-about {

        .section-content {
          text-align: left!important;

            .icon-list {
                margin: 2em 0em!important;
              }

            .about-link-list {
              display: flex;
              order: 3;
              margin-bottom: 2em;
              margin-top: 0px!important;

              a {
                color: var(--text);

                .span-num {
                  display: none;
                }
                .line {
                  padding-left: 0px;
                  font-size: 100%;

                  &::before {
                    background-color: transparent;
                  }
                  
                }
              }
              a.active {
                border-bottom: 1px solid var(--text);
              }
            }
        }
    }
}