.wrapper {
  background: var(--bg);
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper__inner {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding-left: 16px;
  padding-right: 16px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}
.stroke-text {
  text-decoration: underline;
}
.line {
  position: relative;
  display: block;
  font-style: normal;
  width: 100%;
  color: currentColor;
  -ms-font-feature-settings: "smcp" 1, "c2sc" 1;
  -o-font-feature-settings: "smcp" 1, "c2sc" 1;
  font-feature-settings: "smcp" 1, "c2sc" 1;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-transform: uppercase;
  background-position: center 72%;
  font-size: 0.75em;
  z-index: 2;
  padding-left: calc(30px + 1em);
  margin: 1em 0;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background-color: currentColor;
    left: 0;
    top: 50%;
  }
}

.line-vertical {
  position: absolute;
  transform: translate(0, 100%) rotate(90deg);
  transform-origin: top left;
  

  span {
    transform: translate(1em, -50%);
    position: absolute;
  }
}
.line-vertical.theme-line {
  top: -7em;
  left: 97%;
}
@media (max-width: 663px) {
    .line-vertical.theme-line {
        display: none;
    }
}
@media (min-width: 664px) and (max-width: 757px) {
    .line-vertical.theme-line {
        left: 4em;
        top: 0px;
    }
}
.title {
  color: var(--text);
}
.title_alt {
  color: var(--text-alt);
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-lg {
  font-size: 24px;
}
.text-xlg {
  font-size: 43px;
}
.text-small {
  font-size: 15px;
}
.text-xsmall {
  font-size: 13px;
}
.text-bold {
  font-weight: 700;
}

/* flex */

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.j-btw {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}
.j-bsl {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}

/* links */

.link {
  text-decoration: underline;
  color: var(--black);
}

/* icons */
.icon {
  display: inline-block;
  padding: 2px;
}
.icon-left {
  margin-left: 4px;
}
.icon-list {

  li + li {
    margin-left: 2em;
  }
  li {

    a {
      color: var(--text);

      > * + * {
        margin-left: .6em;
      }
    }
    
  }
}

