@charset "UTF-8";
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, .h1 {
  font-size: 26px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-dark);
}

/*------------------------------------*  #SHARED
\*------------------------------------*/
/**
 * Shared declarations for certain elements.
 */
/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */
input,
textarea,
button {
  font-family: inherit;
}

textarea {
  resize: none;
}

button {
  text-align: center;
}

/*------------------------------------*  #PAGE
\*------------------------------------*/
/**
 * Page-level styling (e.g. HTML and BODY elements).
 */
:root {
  --normal:400;
  --semi:500;
  --bold:600;
  --font: "Gothic A1",Arial, Helvetica, sans-serif ;
  --font-size: 15px;
  --text: #000000;
  --text-dark: #20123a;
  --text-alt: #42425a;
  --border: #ededf0;
  --bg: #ffffff;
  --bg-alt: #f9f9fa;
  --color-primary: #0250bb;
}

html {
  font-family: var(--font);
  font-weight: var(--normal);
  color: var(--text);
  font-size: var(--font-size);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  line-height: 1.4;
  letter-spacing: 0.011em;
}

body {
  background: #f55c7b;
  background: linear-gradient(90deg, #f55c7b 0%, #f6bc65 100%);
}

a:focus, button:focus {
  border: 1px dashed var(--text);
}

/*------------------------------------*  #HEADINGS
\*------------------------------------*/
/**
 * Simple default styles for headings 1 through 6.
 */
/*------------------------------------*  #PARAGRAPHS
\*------------------------------------*/
/**
 * Basic styling for paragraphs.
 */
p {
  line-height: 1.4;
}

/*------------------------------------*  #LINKS
\*------------------------------------*/
/**
 * Default styles for simple hyperlinks.
 */
a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link {
  display: inline-block;
  padding: 6px;
}

a.link:hover {
  text-decoration: underline;
  color: var(--text);
}

button {
  background: transparent;
  cursor: pointer;
  border: 0;
}

/*------------------------------------*  #LISTS
\*------------------------------------*/
/**
 * Remove trailing margins from nested lists.
 */
ol, ul {
  list-style: none;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Visually offset definition titles from their definitions.
 */
dt {
  font-weight: 700;
}

/*------------------------------------*    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
}

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
img[width],
img[height] {
  /* [1] */
  max-width: none;
}

/*------------------------------------*  #QUOTES
\*------------------------------------*/
/**
 * Basic styling for quoted text.
 */
q {
  quotes: "‘‘" "";
  margin-top: 0.6em;
}

q:before {
  content: open-quote;
  color: var(--text);
  font-size: 32px;
  font-family: "cocon";
}

blockquote {
  quotes: "“" "”";
}

[hidden] {
  display: none;
}

svg {
  fill: currentColor;
  vertical-align: middle;
}

@media (max-width: 597px) {
  .slide-left {
    animation: slide-left 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-130%);
  }
}
.msg {
  display: none;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: var(--msg-bg);
  width: 100%;
  color: var(--text);
  position: relative;
  padding: 15px;
}

.msg.on {
  display: block;
}

.msg-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 6px;
  width: 100%;
}

@media (max-width: 350px) {
  .msg .msg-content {
    margin-left: 0px;
  }

  .msg-icon-wrapper {
    margin-bottom: 1em;
  }
}
@media (min-width: 351px) {
  .msg.on {
    display: flex;
  }
}
.msg.msg--info {
  --msg-bg: var(--bg-alt);
}

.msg.msg--error {
  --msg-bg: rgb(187, 33, 36);
}

.msg.msg--success {
  --msg-bg: rgb(34, 187, 51);
}

.msg.msg--warning {
  --msg-bg: var(--bg-alt);
}

.msg:after, .msg:before {
  top: 100%;
  left: 10px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.msg:after {
  border-top-color: var(--bg-alt);
  border-width: 15px;
  margin-left: -15px;
}

.msg:before {
  border-top-color: var(--bg-alt);
  border-width: 16px;
  margin-left: -16px;
}

.header, .list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 1em 3em;
}

.header-logo img {
  border-radius: 50%;
  object-fit: cover;
}
.header-logo a {
  display: inline-block;
  color: var(--text);
}
.header-logo span {
  color: var(--text);
  margin-left: 0.6em;
  font-weight: var(--bold);
}

.list-items a {
  display: inline-block;
  padding: 0.7em;
  color: var(--text);
}
.list-items a:hover {
  color: var(--gray);
}
.list-items a.active {
  border-bottom: 1px solid var(--color-primary);
}

@media (max-width: 620px) {
  .header {
    justify-content: unset;
    padding: 0.5em 1em;
  }

  .header-control {
    margin-left: auto;
    color: var(--text);
  }
  .header-control > *:first-child {
    display: none;
  }

  .header-nav {
    order: 3;
  }

  .header-btn {
    display: block;
    padding: 1em 0.5em;
  }
  .header-btn svg {
    margin-top: 4px;
  }

  .list-items {
    padding: 20px 20px 0px 20px;
    position: fixed;
    z-index: 999;
    left: 0px;
    width: 100%;
    top: -999px;
    transition: top 0.3s ease-in-out;
    flex-direction: column;
    align-items: initial;
    background: var(--bg);
    box-shadow: 0 0 1px 1px rgba(29, 17, 51, 0.04), 0 0 3px 2px rgba(9, 32, 77, 0.12), 0 0 2px -3px rgba(29, 17, 51, 0.12);
  }
  .list-items li a {
    display: block;
    color: var(--text);
    font-size: 1.4em;
    font-weight: bold;
    border-top: 1px solid var(--border);
  }
  .list-items .list-items__btn {
    margin: 1.5em 1em 1em 1em;
    display: block;
    text-align: center;
  }

  .list-items.on {
    top: 0px;
    justify-content: center;
  }

  .header-btn.on {
    position: relative;
    z-index: 9999;
    color: var(--text);
  }

  .header-btn.on .icon-open {
    display: none;
  }

  .icon-close.on {
    display: block;
  }
}
.theme-wrapper.on {
  display: block;
}

.wrapper {
  background: var(--bg);
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.stroke-text {
  text-decoration: underline;
}

.line {
  position: relative;
  display: block;
  font-style: normal;
  width: 100%;
  color: currentColor;
  -ms-font-feature-settings: "smcp" 1, "c2sc" 1;
  -o-font-feature-settings: "smcp" 1, "c2sc" 1;
  font-feature-settings: "smcp" 1, "c2sc" 1;
  letter-spacing: 2px;
  font-variant: small-caps;
  text-transform: uppercase;
  background-position: center 72%;
  font-size: 0.75em;
  z-index: 2;
  padding-left: calc(30px + 1em);
  margin: 1em 0;
}
.line::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 1px;
  background-color: currentColor;
  left: 0;
  top: 50%;
}

.line-vertical {
  position: absolute;
  transform: translate(0, 100%) rotate(90deg);
  transform-origin: top left;
  top: -7em;
  left: 97%;
  padding: 0;
  margin: 0;
  height: 20%;
}
.line-vertical::before {
  width: 1px;
  height: calc(100% - 1em);
  top: 1px;
  left: 5px;
  transform: rotate(90deg);
  transform-origin: top right;
}
.line-vertical span {
  transform: translate(1em, -50%);
  position: absolute;
}

@media (max-width: 663px) {
  .line-vertical {
    display: none;
  }
}
@media (min-width: 664px) and (max-width: 757px) {
  .line-vertical {
    left: 4em;
    top: 0px;
  }
}
.title {
  color: var(--text-dark);
}

.title_alt {
  color: var(--text-alt);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-lg {
  font-size: 24px;
}

.text-xlg {
  font-size: 43px;
}

.text-small {
  font-size: 15px;
}

.text-xsmall {
  font-size: 13px;
}

.text-bold {
  font-weight: 700;
}

.text-gray {
  color: var(--gray);
}

/* flex */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.j-btw {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.j-bsl {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

/* links */
.link {
  text-decoration: underline;
  color: var(--black);
}

/* icons */
.icon {
  display: inline-block;
  padding: 2px;
}

.icon-left {
  margin-left: 4px;
}

.icon-list li + li {
  margin-left: 2em;
}
.icon-list li a {
  color: var(--text);
}
.icon-list li a > * + * {
  margin-left: 0.6em;
}

.wave-container {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 120px;
  overflow: hidden;
  transform: rotateY(180deg);
}

@media (min-width: 62em) {
  .wave-container .wave {
    transform: scaleY(2.5);
  }
}
@media (min-width: 36em) {
  .wave-container .wave {
    transform: scaleY(1.5);
  }
}
.wave-container .wave {
  display: block;
  position: relative;
  height: 40px;
  background: var(--bg-alt);
}

.wave::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 112%;
  height: 293px;
  background-color: var(--bg);
  right: -34%;
  top: 20px;
}

.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 113%;
  height: 300px;
  background-color: var(--bg-alt);
  left: -35%;
  top: -240px;
}

.section {
  padding: 3em 3em 1em 3em;
}

.section-side-pad {
  padding-left: 3em;
  padding-right: 3em;
}

@media (max-width: 620px) {
  .section-side-pad {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.section-pad {
  padding-top: 3em;
  padding-bottom: 3em;
}

.section-head > * + * {
  margin-top: 1em;
}

.section-bg-alt {
  background-color: var(--bg-alt);
}

@media (min-width: 597px) {
  .section-bg-alt {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(245%2c 245%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c295.759C64.828%2c290.599%2c139.363%2c336.77%2c191.14%2c297.42C243.557%2c257.584%2c222.325%2c173.491%2c243.089%2c111.015C260.96%2c57.242%2c299.314%2c12.638%2c304.539%2c-43.786C310.721%2c-110.547%2c308.992%2c-180.631%2c275.471%2c-238.697C238.757%2c-302.295%2c183.761%2c-367.434%2c111.197%2c-378.703C38.981%2c-389.918%2c-17.377%2c-318.367%2c-86.598%2c-294.927C-151.884%2c-272.82%2c-230.387%2c-289.751%2c-282.997%2c-245.219C-337.879%2c-198.763%2c-358.248%2c-124.069%2c-371.859%2c-53.465C-385.968%2c19.72%2c-390.907%2c96.626%2c-362.157%2c165.391C-332.944%2c235.263%2c-283.005%2c303.835%2c-211.748%2c329.486C-143.11%2c354.194%2c-72.72%2c301.547%2c0%2c295.759' fill='%23e9e9e9'%3e%3c/path%3e%3cpath d='M1440 896.948C1503.784 903.004 1568.788 878.344 1619.058 838.62 1667.109 800.649 1682.0149999999999 737.766 1710.2269999999999 683.408 1740.1680000000001 625.719 1782.807 574.335 1789.76 509.712 1797.903 434.032 1809.8980000000001 339.252 1752.654 289.083 1693.885 237.577 1600.559 288.129 1523.328 276.21 1459.981 266.434 1405.264 216.45 1341.835 225.68200000000002 1275.06 235.401 1217.176 277.669 1171.5720000000001 327.406 1125.144 378.04200000000003 1089.577 440.26300000000003 1082.437 508.59000000000003 1075.4270000000001 575.673 1095.128 644.303 1132.599 700.385 1167.173 752.13 1229.106 773.047 1281.537 806.573 1333.826 840.008 1378.213 891.082 1440 896.948' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
  }
}
.section-content > * + * {
  margin-top: 1em;
}

.section-flex > *:nth-child(3) {
  align-self: flex-end;
  justify-self: flex-start;
}

.section-flex {
  position: relative;
}

@media (min-width: 757px) {
  .section-flex {
    display: flex;
  }
  .section-flex .section-content {
    max-width: 12em;
  }
}
@media (max-width: 756px) {
  .section {
    padding: 0px;
  }
  .section .wrapper {
    width: 100%;
  }

  .hero-skills {
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-flex .section-content {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 7px;
  }
  .section-flex .section-img {
    background-color: #e0e8eb;
    text-align: center;
    margin-top: 2em;
    padding-top: 1em;
  }
  .section-flex .section-img img {
    border-radius: unset;
  }
  .section-flex > *:nth-child(3) {
    display: none;
  }
}
@media (min-width: 1021px) {
  .section-about {
    display: flex;
    justify-content: space-between;
  }
  .section-about .section-content {
    max-width: 382px !important;
    padding-right: 20px;
  }
  .section-about .section-content .about-link-list {
    display: block;
  }
  .section-about .section-content .about-link-list a {
    color: var(--text);
  }
}
@media (max-width: 1020px) {
  .section-about .section-content {
    text-align: left !important;
  }
  .section-about .section-content .icon-list {
    margin: 2em 0em !important;
  }
  .section-about .section-content .about-link-list {
    display: flex;
    order: 3;
    margin-bottom: 2em;
    margin-top: 0px !important;
  }
  .section-about .section-content .about-link-list a {
    color: var(--text);
  }
  .section-about .section-content .about-link-list a .span-num {
    display: none;
  }
  .section-about .section-content .about-link-list a .line {
    padding-left: 0px;
    font-size: 100%;
  }
  .section-about .section-content .about-link-list a .line::before {
    background-color: transparent;
  }
  .section-about .section-content .about-link-list a.active {
    border-bottom: 1px solid var(--text);
  }
}
.btn {
  text-align: center;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn.btn--primary {
  background: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.btn.btn--primary:hover {
  color: var(--color-white);
  background: var(--color-primary);
}

.btn--white {
  background-color: var(--bg);
  color: var(--text);
  box-shadow: 1px 2px 4px var(--border);
}
.btn--white:hover {
  box-shadow: 0px 0px 1px var(--border);
  background-color: var(--color-primary);
}

.btn--small {
  padding: 0.4rem 1.2rem;
}

.btn--default {
  padding: 1em;
}

@media (min-width: 620px) {
  .btn--small {
    padding: 0.4rem 1rem;
  }
}
.btn--round {
  border-radius: 40em;
}

@media (min-width: 597px) {
  .section-img {
    position: relative;
  }
  .section-img:hover .hero-img-msg {
    display: block;
  }
  .section-img .hero-img-msg {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: calc(100% + 2em);
    width: 12em;
    background: var(--bg);
    box-shadow: 1px 2px 4px var(--border);
    border-radius: 11px;
    padding: 15px;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
.hero-img img {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: relative;
  z-index: 1;
  max-width: 16em;
}
.hero-img .img-overlay {
  display: inline-block;
}

@media (min-width: 597px) and (max-width: 756px) {
  .section-flex {
    display: flex;
    flex-direction: row-reverse;
    background: var(--hero-bg);
    padding-top: 3em;
  }
  .section-flex .section-content {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 19em;
  }
  .section-flex .section-img {
    margin-left: 6vw;
    margin-top: 0px;
  }
}
@media (min-width: 673px) and (max-width: 700px) {
  .section-flex .section-img {
    margin-left: 10vw;
    margin-top: 0px;
  }
}
@media (min-width: 700px) and (max-width: 756px) {
  .section-flex .section-img {
    margin-left: 16vw;
    margin-top: 0px;
  }
}
@media (max-width: 596px) {
  .section-content {
    text-align: center;
  }
  .section-content .line {
    text-align: left;
  }
}
.title_sub {
  margin-top: 3em;
  border-top: 1px solid var(--border);
  padding-top: 9px;
  color: var(--text-alt);
}

@media (min-width: 597px) {
  .title_sub {
    max-width: max-content;
  }
}
.hero-skills {
  align-items: center;
  margin-top: 2em;
}
.hero-skills ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-skills ul li {
  display: flex;
  align-items: center;
  color: var(--gray);
}
.hero-skills ul li span {
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
}

@media (max-width: 756px) {
  .hero-skills {
    margin: 0px;
  }
}
/* blog page hero */
.blog-hero {
  position: relative;
  margin-bottom: 8em;
  background: rgba(0, 0, 0, 0) linear-gradient(359.62deg, var(--bg-alt) 2.36%, white 99.68%) repeat scroll 0% 0%;
}

.blog-hero__content > * {
  margin-top: 0.8em;
}

.card-wrapper {
  margin: 2em 0em;
}

.card {
  background-color: var(--bg);
  padding: 1.6em 1em;
  background-position: center;
  background-size: cover;
  border-radius: 11px;
  border-bottom-right-radius: 59px;
  box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.card h3 {
  margin-bottom: 0.5em;
}
.card:hover {
  background-color: var(--color-primary);
  color: white;
}

.card.skill-card {
  margin: 1em;
  position: relative;
}
.card.skill-card::after {
  content: "";
  display: inline-block;
  width: 80%;
  border-top: 3px solid var(--color-primary);
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 3px;
}
.card.skill-card:hover::after {
  border-color: #ffffff;
}
.card.skill-card .line {
  margin-top: 2em;
}

@media (min-width: 559px) {
  .card.skill-card {
    max-width: 14em;
  }
}
.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.article-list > a:nth-child(2) {
  margin-top: 60px;
  display: inline-block;
}
.article-list > a:nth-child(3) {
  margin-top: -60px;
  display: inline-block;
}

@media (max-width: 1020px) {
  .article-list {
    grid-gap: 27px;
  }

  .article-list a {
    margin: 0px !important;
  }
  .article-list .article-card {
    margin: 1em 0em;
  }
}
.article-card {
  min-height: 280px;
  margin: 4px;
  background-color: var(--bg);
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in-out;
}
.article-card:hover {
  transform: scale(1.1);
}

@media (max-width: 597px) {
  .article-list {
    grid-template-columns: 1fr;
  }
  .article-list .article-card {
    width: 100%;
  }
}
.article-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: inherit;
  color: var(--text);
}
.article-card-content h5 {
  margin-top: auto;
}
.article-card-content header > * + * {
  display: block;
  margin-top: 0.3em;
}
.article-card-content footer {
  margin-top: auto;
}

.article__list > li + li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.article__list a {
  color: var(--text);
}

.article__post {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
  border: 1px solid var(--border);
  box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
  padding: 1em;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.article__post:hover {
  box-shadow: initial;
}
.article__post header {
  max-width: 25em;
}
.article__post header > * + * {
  margin-top: 0.6em;
}

@media (max-width: 620px) {
  .article__post {
    padding-bottom: 0px;
    flex-direction: column;
  }
  .article__post footer {
    padding: 1em 0px;
    margin-top: 1.2em;
    border-top: 1px solid var(--border);
  }
}
@media (min-width: 621px) {
  .article__post {
    align-items: center;
  }
}
.about-tab {
  max-width: max-content;
}

.about-tab.on {
  border-bottom: 2px solid var(--color-primary);
}

.about-tab.off ~ .about-tab {
  border-bottom: 2px solid var(--color-primary);
}

.about-projects.off {
  display: none;
}

.about-projects.on {
  display: block;
}

.about-projects.on ~ .article-list {
  display: none;
}

.post-header {
  padding: 2rem 0;
  text-align: center;
}

.post__meta {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.post-header__time, .post__summary {
  color: var(--text-alt);
}

.post__summary {
  margin-bottom: 1rem;
}

.post-header__title {
  font-size: 2.5rem;
}

@media (max-width: 620px) {
  .post-header {
    text-align: left;
  }
}
@media (min-width: 760px) {
  .post-header__title {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .post-header__title {
    font-size: 5rem;
  }

  .post__meta {
    font-size: 1.4rem;
  }
}
.post__body {
  max-width: 800px;
  margin: 1rem auto;
}
.post__body figure {
  background: transparent;
  border: 0;
  margin-top: 16px;
  margin-bottom: 1em;
}
.post__body figure figcaption {
  padding-top: 8px;
  color: var(--text-alt);
  text-align: center;
}
.post__body figure img, .post__body figure video {
  display: block;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.post__body figure ol {
  list-style: none;
  counter-reset: listCounter;
}
.post__body figure ol, .post__body figure ul {
  padding: 0;
  margin: 1em 0;
  max-width: 100%;
}
.post__body figure ol > li {
  padding-left: 1.75em;
  padding-left: calc(1.65em + .7vw);
  position: relative;
  counter-increment: listCounter;
  margin-bottom: 1em;
}
.post__body figure ol > li::before {
  content: counter(listCounter, decimal-leading-zero);
  font-size: 0.7em;
  font-weight: 700;
  color: var(--primary-color);
  left: 0.8em;
  position: absolute;
  font-family: Product Sans, AvenirNext, Avenir, -apple-system, BlinkMacSystemFont, Roboto Slab, Droid Serif, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Georgia, serif;
}
.post__body figure ol ol > li {
  padding-left: 2.25em;
  padding-left: calc(1.35em + .7vw);
}
.post__body figure ol ol ol > li {
  padding-left: 3em;
  padding-left: calc(2.4em + 1.4vw);
}
.post__body figure ol[start="0"] {
  counter-reset: listCounter -1;
}
.post__body figure ol ul li:before {
  content: "";
}
.post__body figure ol ol {
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.post__body figure ol ol > li::before {
  content: counters(listCounter, ".", decimal-leading-zero) " ";
  left: -1.5em;
}

.footer {
  padding-left: 3em;
  padding-right: 3em;
}

@media (max-width: 620px) {
  .footer {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.footer-contact-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

@media (min-width: 580px) {
  .footer-contact-wrapper {
    width: 88%;
  }
}
.footer-contact {
  background: url(https://assets-global.website-files.com/5f3c19f18169b65d9d0bf384/5f3c19f18169b692970bf4d2_asset%2047.png), var(--hero-bg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  border-radius: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 1em;
}
.footer-contact > * {
  flex: 1 0 50%;
}

.input-group {
  display: flex;
}
.input-group > * + * {
  margin-left: 12px;
}

.footer-contact-content, .footer-form {
  padding: 15px;
}

.footer-contact-content > * + * {
  margin-top: 0.6em;
}

@media (max-width: 579px) {
  .footer-form {
    margin-top: 2em;
  }

  .footer-contact-content {
    order: -1;
  }

  .footer-contact-content, .footer-form {
    padding: 0px;
  }

  .input-group {
    display: block;
  }
  .input-group > * + * {
    margin-top: 18px;
    margin-left: 0px;
  }
}
.input-label {
  display: block;
  height: calc(100% + 16px);
  width: 100%;
  position: relative;
  border: 1px solid var(--border);
  border-radius: 11px;
  outline: 0px;
  background-color: var(--bg);
}
.input-label .input {
  margin-top: 0.6em;
  padding: 1.4em 1em;
  border: 0px;
  position: relative;
  bottom: 0px;
  width: 100%;
  outline: 0px;
  display: block;
  background-color: transparent;
}

.input-full {
  width: 100%;
  margin-top: 1.7em;
}

.input-label-floating {
  position: absolute;
  top: 0%;
  left: 0px;
  font-size: 12px;
  background-color: var(--bg);
  padding: 10px 10px 0px 10px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}
.footer-content > * {
  flex: 1 0 50%;
}

.footer-content__copy, .footer-nav {
  margin: 2em 0px;
}

.footer-content__copy .header-logo {
  margin-bottom: 1.2em;
}

@media (min-width: 481px) {
  .footer-content__copy p {
    max-width: 17em;
  }
}
.footer-nav {
  width: 100%;
}

.footer-nav__list--title {
  margin-bottom: 1.2em;
  padding: 6px;
}

.footer-nav__link {
  display: inline-block;
  color: var(--text);
  padding: 6px;
  text-decoration: underline;
}

.theme {
  background-color: var(--bg-alt);
  padding-top: 1em;
  padding-bottom: 1em;
}

.theme-wrapper__inner {
  padding-left: 1em;
  padding-right: 1em;
}

.theme-wrapper__inner.wrapper {
  background-color: var(--bg-alt);
}

.theme-header {
  display: flex;
  justify-content: space-between;
}

.theme-content {
  margin-top: 1rem;
}
.theme-content p {
  color: var(--text-alt);
  margin-bottom: 1rem;
}
.theme-content small {
  color: var(--text-dark);
  display: block;
  margin-bottom: 0.7rem;
}

.theme-range {
  margin: 0.5rem 0rem 2rem 0rem;
  max-width: 40rem;
}
.theme-range label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-range__slider {
  cursor: pointer;
  -webkit-appearance: none;
  --color-stop: 0%;
  background-image: linear-gradient(90deg, var(--color-primary) var(--color-stop), var(--border) var(--color-stop));
  width: 100%;
  height: 4px;
  border-radius: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.theme-range__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50% 50% 55% 45%/65% 62% 38% 35%;
  box-shadow: 1px 2px 4px var(--border);
  background-color: var(--border);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
.theme-range__slider::-webkit-slider-thumb:hover {
  box-shadow: initial;
}

.schemes {
  display: flex;
}

.scheme + .scheme {
  margin-right: 0.7rem;
}

.scheme {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
}
.scheme:hover {
  box-shadow: initial;
}
.scheme .scheme__pallete span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff;
}/*# sourceMappingURL=main.css.map */